<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
	<!-- 日志输出文件夹(根据情况修改) -->
	<property name="LOG_HOME" value="./log" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%class:%line] %-5level - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
	</appender>
	<!-- 调试日志文件 -->
	<appender name="FILE_ALL" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>ACCEPT</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/I_am_ALL.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>1</MaxHistory>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>200MB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%class:%line] %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 运行日志文件 -->
	<appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/I_am_Info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>2</MaxHistory>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%class:%line] %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 错误日志文件 -->
	<appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/I_am_Error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
			<MaxHistory>30</MaxHistory>
			<maxFileSize>10MB</maxFileSize>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS}[%thread][%class:%line] %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE_ALL" />
		<appender-ref ref="FILE_INFO" />
		<appender-ref ref="FILE_ERROR" />
	</root>
	<logger name="org.springframework" level="error" />
	<logger name="org.apache.kafka" level="error" />
	<logger name="org.apache.zookeeper" level="error" />
	<logger name="org.hibernate" level="error" />
	<logger name="org.apache" level="error" />
	<logger name="com.netflix" level="error" />
	<logger name="com.baomidou.mybatisplus" level="error" />
	<logger name="com.alibaba" level="error" />



</configuration>